* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}
.body{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 1.7;
    overflow-x: hidden;
    color: #777;
    font-weight: 700;
    text-size-adjust: 100%;

}
.container {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-evenly;
    
}
.contain-nav{
    width: 60%;
}
.nav {
    width: 20%;
    height: 570px;
    background-color: #4A63E7;
    border-radius: 20px;
    box-sizing: border-box;
    border: none;
    padding: 30px;
    display: inline-block;
    position: sticky;
    position: sticky;
    top: 40px !important;
    transition: all 1s;
}

.nav img {
    border-radius: 50%;
}

.my-name {
    display: block;
    font-family: 'Poppins', sans-serif;
    font-size: 28px;
    color: white;
    text-decoration: none;
    margin-top: 0.8em;
    font-weight: 700;
}

.nav p {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    color: white;
    font-weight: 600;
    margin-top: 7px;
}

.ul-1 {
    width: 100%;
    list-style-type: none;
}

.ul-1 li {
    width: 50%;
    height: 25px;
    margin-top: 13px;
    
}

.list-nav {
    text-decoration: none;
    display: block;
}

.list-nav i {
    font-size: 14px;
    display: inline;
    color: white;
}

.list-nav p {
    font-family: 'Poppins', sans-serif;
    display: inline;
    font-size: 14px;
    font-weight: 300;
    padding-left: 10px;
}

.nav .icon {
    list-style-type: none;
    position: absolute;
    bottom: 50px;
    left: 25px;
}

.nav .icon li {
    display: inline-block;
    border-radius: 50%;
    background-color: #FF5959;
    padding: 8px;
    margin-left: 5px;
    height: 18px;
    width: 18px;
    text-align: center;
    cursor: pointer;
}

.nav .icon li a {
    text-decoration: none;
    
}

.nav .icon li a i {
    color: white;
    font-size: 14px;
}

.nav .icon li:hover {
    background-color: white;
}

.nav .icon li:hover .sub-icon {
    color: red;
}
.home a{
    transition: all 1s;
}
.ul-1 li:hover a{
    margin-left: 10px;
}
.boxes .box{
    width: 100%;
    margin-bottom: 50px;
    margin-top: 40px;
    border-radius: 20px;
    background-color: #4A63E7;
    position: relative;
    box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.4);
}
.box1 {
    min-height: 675px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 800px;
}
.subbox1{
    width: 80%; 
    color: white;
}
.subbox1 h1{
    font-size: 60px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    color: white;
}
.subbox1 p{
    font-weight: 600;
    color: white;
    margin-bottom: 20px;
}
.subbox1 #viewbtn {
    background-color: #FF5959;
    height: 47px;
    width: 184px;
    border: none;
    border-radius:30px;
    cursor: pointer;
    color: white;
    font-weight: 600;
    font-size: 15px;
    top: 0px;
    position: relative;
}
.subbox1 #viewbtn i{
    font-size: 20px;
    margin-right: 10px;
}
.subbox1 #hirebtn{
    background-color: #4A63E7;
    border: white solid 1px;
    color: white;
    margin-left: 20px;
    height: 47px;
    width: 150px;
    color: white;
    font-weight: 600;
    font-size: 15px;
    border-radius:30px;
    cursor: pointer;
    position: relative;
    top: 0px;
}
.subbox1 #hirebtn i{
    font-size: 20px;
    margin-right: 10px;
}
.subbox1 button {
    transition: all 0.5s;
}
.subbox1 #viewbtn:hover{
    top: -4px;
    box-shadow: 0px 6px 20px 0 rgba(0, 0, 0, 0.4);
    background-color: white;
    color:#FF5959 ;
}
.subbox1 #hirebtn:hover{
    top: -4px;
    box-shadow: 0px 6px 20px 0 rgba(0, 0, 0, 0.4);
    background-color: white;
    color:black ;
}