* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}
.body{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 1.7;
    overflow-x: hidden;
    color: #777;
    font-weight: 700;
    text-size-adjust: 100%;

}
.container {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-evenly;
    
}
.contain-nav{
    width: 60%;
}
.nav {
    width: 20%;
    height: 570px;
    background-color: #4A63E7;
    border-radius: 20px;
    box-sizing: border-box;
    border: none;
    padding: 30px;
    display: inline-block;
    position: sticky;
    position: sticky;
    top: 40px !important;
    transition: all 1s;
}

.nav img {
    border-radius: 50%;
}

.my-name {
    display: block;
    font-family: 'Poppins', sans-serif;
    font-size: 28px;
    color: white;
    text-decoration: none;
    margin-top: 0.8em;
    font-weight: 700;
}

.nav p {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    color: white;
    font-weight: 600;
    margin-top: 7px;
}

.ul-1 {
    width: 100%;
    list-style-type: none;
}

.ul-1 li {
    width: 50%;
    height: 25px;
    margin-top: 13px;
    
}

.list-nav {
    text-decoration: none;
    display: block;
}

.list-nav i {
    font-size: 14px;
    display: inline;
    color: white;
}

.list-nav p {
    font-family: 'Poppins', sans-serif;
    display: inline;
    font-size: 14px;
    font-weight: 300;
    padding-left: 10px;
}

.nav .icon {
    list-style-type: none;
    position: absolute;
    bottom: 50px;
    left: 25px;
}

.nav .icon li {
    display: inline-block;
    border-radius: 50%;
    background-color: #FF5959;
    padding: 8px;
    margin-left: 5px;
    height: 18px;
    width: 18px;
    text-align: center;
    cursor: pointer;
}

.nav .icon li a {
    text-decoration: none;
    
}

.nav .icon li a i {
    color: white;
    font-size: 14px;
}

.nav .icon li:hover {
    background-color: white;
}

.nav .icon li:hover .sub-icon {
    color: red;
}
.home a{
    transition: all 1s;
}
.ul-1 li:hover a{
    margin-left: 10px;
}
.boxes .box{
    width: 100%;
    margin-bottom: 50px;
    margin-top: 40px;
    border-radius: 20px;
    background-color: #4A63E7;
    position: relative;
    box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.4);
}
.box1 {
    min-height: 675px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 800px;
}
.subbox1{
    width: 80%; 
    color: white;
}
.subbox1 h1{
    font-size: 60px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    color: white;
}
.subbox1 p{
    font-weight: 600;
    color: white;
    margin-bottom: 20px;
}
.subbox1 #viewbtn {
    background-color: #FF5959;
    height: 47px;
    width: 184px;
    border: none;
    border-radius:30px;
    cursor: pointer;
    color: white;
    font-weight: 600;
    font-size: 15px;
    top: 0px;
    position: relative;
}
.subbox1 #viewbtn i{
    font-size: 20px;
    margin-right: 10px;
}
.subbox1 #hirebtn{
    background-color: #4A63E7;
    border: white solid 1px;
    color: white;
    margin-left: 20px;
    height: 47px;
    width: 150px;
    color: white;
    font-weight: 600;
    font-size: 15px;
    border-radius:30px;
    cursor: pointer;
    position: relative;
    top: 0px;
}
.subbox1 #hirebtn i{
    font-size: 20px;
    margin-right: 10px;
}
.subbox1 button {
    transition: all 0.5s;
}
.subbox1 #viewbtn:hover{
    top: -4px;
    box-shadow: 0px 6px 20px 0 rgba(0, 0, 0, 0.4);
    background-color: white;
    color:#FF5959 ;
}
.subbox1 #hirebtn:hover{
    top: -4px;
    box-shadow: 0px 6px 20px 0 rgba(0, 0, 0, 0.4);
    background-color: white;
    color:black ;
}
.boxes .box-second{
    background-color: white;
}
.box-second .box2{
    padding: 65px 40px 60px;
}
.infomation{
    display: flex;
}
.about{
    font-size: 24px;
    font-family: 'Poppins', sans-serif;
    color: black;
    width: 100%;
}
.about:after {
    content: "";
    background-color: #ff5959;
    border-radius: 25px;
    display: block;
    height: 5px;
    width: 30px;
    margin-top: 14px;
    margin-bottom: 70px;
}
.second-avatar{
    width: 28%;
}
.second-avatar img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
}
.infomation .info .hello {
    font-size: 24px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    margin-bottom: 25px;
}
.info{
    width: 550px;
}
.info .introduce {
    margin-bottom: 25px;
}
.info p{
    width: 85%;
    font-size: 14px;
    color: #777777;
    word-spacing: 1px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    line-height: 24px;
}
.info p span {
    color: #000000;
    font-weight: 600;
}
.NBLE {
    display: flex;
    margin-bottom: 20px;
}
.NBLE .name-birth,.NBLE .mail-location{
    width: 50%;
}
.button #downloadbtn{
    height: 39px;
    width: 160px;
    background-color: #FF5959;
    border-radius: 30px;
    text-align: center;
    border: none;
    transition: all 0.5s;
    color: white;
    cursor: pointer;
    font-weight: 600;
    font-size: 15px;
    top: 0px;
    transition: all 0.5s;
    position: relative;
}
.button #hirebtn2 {
    height: 39px;
    width: 150px;
    border-radius: 30px;
    background-color: #4A63E7;
    border: none;
    color: white;
    cursor: pointer;
    font-weight: 600;
    font-size: 15px;
    margin-left: 20px;
    top: 0px;
    transition: all 0.5s;
    position: relative;
}
.button #downloadbtn i{
    font-size: 15px;
    margin-right: 10px;
}
.button #hirebtn2 i{
    font-size: 15px;
    margin-right: 10px;
}
.button #downloadbtn:hover {
    box-shadow: 0px 6px 20px 0 rgba(0, 0, 0, 0.4);
    top: -4px;
    background-color: #4A63E7;
}
.button #hirebtn2:hover{
    box-shadow: 0px 6px 20px 0 rgba(0, 0, 0, 0.4);
    top: -4px;
    background-color: #FF5959;
}
.boxes .box-third {
    background-color: white;
}
.box-third .box3 {
    padding: 65px 40px 60px;
    width: 700px;
}
.para-skill {
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    opacity: 0.5;
    font-weight: bold;
    margin-bottom: 36px;
    width: 100%;
}
.knowledge{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.wordpress-jquery {
    width: 48%;
    height: 110px;
}
.wordpress {
    height: 21px;
    margin-bottom: 15px;
}
.wordpress h4 {
    float: left;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
}
.wordpress span {
    float: right;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    opacity: 0.7;
    font-weight: bold;
}
.percent-wordpress{
    height: 2.5px;
    background-color: grey;
    margin-bottom: 40px;
}
.wppercent{
    background-color: red;
    width: 85%;
    height: 2.5px;

}
.jquery{
        height: 21px;
        margin-bottom: 15px;
}
.jquery h4 {
    float: left;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
}
.jquery span {
    float: right;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    opacity: 0.7;
    font-weight: bold;
}
.percent-jquery{
    height: 3.5px;
    background-color: grey;
}
.jquerypercent{
    background-color: red;
    width: 60%;
    height: 3.5px;
}
.html-sketch {
    width: 48%;
    height: 110px;
}
.html{
    height: 21px;
    margin-bottom: 15px;
}
.html h4 {
    float: left;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
}
.html span {
    float: right;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    opacity: 0.7;
    font-weight: bold;
}
.percent-html{
    height: 2.5px;
    background-color: grey;
    margin-bottom: 40px;
}
.htmlpercent{
    background-color: red;
    width: 90%;
    height: 2.5px;
}
.sketch{
    height: 21px;
    margin-bottom: 15px;
}
.sketch h4 {
    float: left;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
}
.sketch span {
    float: right;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    opacity: 0.7;
    font-weight: bold;
}
.percent-sketch{
    height: 3.5px;
    background-color: grey;
}
.sketchpercent{
    background-color: red;
    width: 70%;
    height: 3.5px;
}
.boxfourth{
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
}
.sub-box4{
    display: flex;
    flex-direction: column;
    width: 20%;
    height: 155px;
    box-sizing: border-box;
    padding: 10px;
}
.box4-num p {
    font-size: 36px;
    color: white;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 2px;
}
.box4-para p {
    font-size: 14px;
    color: white;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
}
.sub-box4 i {
    font-size: 25px;
    color: white;
    padding: 10px;
    background-color: #FF5959;
    border-radius: 50%;
}
.boxes .boxfifth{
    background-color: white;
}
.box5 {
    padding: 65px 40px 60px;
    width: 700px;
}
.mainsub5{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.mainsub5-1{
    display: flex;
    flex-direction: row;
}
.mainsub5-2{
    display: flex;
    flex-direction: row;
}
.sub-box5{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 20px 22px;
    border: 0.5px solid #EFEFEF;
    width: 90%;
    border-radius: 10px;
    transition: all 1s;
    margin-right: 15px;
    margin-bottom: 10px;
    cursor: pointer;
}
.sub-box5 h4{
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    color: black;
    font-weight: bold;
    margin: 16px 0px;
}
.sub-box5 i{
    font-size: 25px;
    color: #FF5959;
}
.sub-box5 p{
    font-family: 'Open Sans', sans-serif;
    color: black;
    opacity: 0.5;
    text-align: center;
    font-size: 14px;
}
.sub-box5:hover {
    background-color: #FF5959;
}
.sub-box5:hover i{
    color: white;
}
.sub-box5:hover h4{
    color: white;
}
.sub-box5:hover p {
    color: white;
}
.boxes .boxsix {
    background-color: white;
}
.box6 {
    padding: 65px 40px 60px;
    width: 700px;
}
.space-third-2 {
    height: 70px;
}